// VARIABLES
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
$dark-blue: #003478;
$light-blue: #79a5ff;
$gray: #F1F1E6;
$green: #007D58;
$cream: #FFF7D6;

$font-body: 'Muli', sans-serif;
$font-heading: 'Cinzel Decorative', cursive;
$text-color: #333;
$heading-color: $dark-blue;
$link-on-dark-color: lighten($green, 15%);

$default-radius: 4px;
$medium-radius: 10px;
$large-radius: 75px;
$default-font-size: 18px;