/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Import dependencies
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
@import "../../node_modules/foundation-sites/scss/foundation.scss";
/* If I want to override any of Foundation's variables, I do so inside my own copy of _settings.scss. This also requires linking to it in node_modules/foundation-sites/scss/foundation.scss (see line 24). */

@include foundation-everything;

// Import the SASS file that wowjs needs (animate.scss):
@import "_animate";
// Import all the other SASS files. update this every time I make a new SASS file. If we were using globbing, we could use an asterisk here and have it automatically add any files in this folder so we don't have to update it:
@import "_variables";
@import "_mixins";
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
* {
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    // * Don't let the background video play on small devices:
    @include breakpoint (800px down){ background: url(../backer.png) #000 no-repeat center center fixed; }
}
.wow { visibility: hidden; }
h1{
    color: white;
    font-size: 5rem;
    font-family: $font-heading;
        font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    letter-spacing: 20px;
    span{
        font-size: 7rem;
    }
}

// * Start background video styles (there's also a rule on the body tag above):
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('backer.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  @include breakpoint(800px down){ display: none; }
}
// * When the background video finishes playing, it pauses. This controls the opacity of the video at that point:
.stopfade {
   //opacity: .5;
}
// * End background video styles.

