@import "../../node_modules/foundation-sites/scss/foundation.scss";
/* If I want to override any of Foundation's variables, I do so inside my own copy of _settings.scss. It's imported into the file foundation.scss. */

@include foundation-everything;

// My custom styles start here:

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
$dark-blue: #003478;
$light-blue: #79a5ff;
$gray: #F1F1E6;
$green: #007D58;
$cream: #FFF7D6;

$font-body: 'Muli', sans-serif;
$font-heading: 'Merriweather', serif;
$text-color: #333;
$heading-color: $dark-blue;
$link-on-dark-color: lighten($green, 15%);

$default-radius: 4px;
$medium-radius: 10px;
$large-radius: 75px;
$default-font-size: 18px;

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Mixins
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
@mixin default-transition{
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
@mixin default-box-shadow(){
    box-shadow: 0px 1px 2px #888;
}
@mixin default-text-shadow($shadow-color){
    text-shadow: 0 1px 2px darken($shadow-color, 10%);
}
@mixin btn($btn-color){
    @include default-transition();
    background: $btn-color;
    border-radius: $default-radius;
    //border-bottom: 2px solid darken($btn-color, 5%);
    //border-top: 2px solid $btn-color;
    color: white !important;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-shadow: 0 1px 1px darken($btn-color, 5%);
    margin: 5px 0;
    white-space: nowrap;

    &:hover{
        @include default-transition();
        background: darken($btn-color, 5%);
        //border-bottom: 2px solid lighten($btn-color, 2%);
        //border-top: 2px solid lighten($btn-color, 7%);
    }
}
@mixin special-link-style($special-link-color){
    color: $special-link-color;
    border-bottom: 1px solid $special-link-color;
    &:hover{
        background: $special-link-color;
        color: white;
    }
}
@mixin img-effect{
    border: 0px solid $gray !important;
    border-radius: $default-radius;
    box-shadow: none;
}
// Here we define the lower and upper bounds for each media size, only used as reference (from Zurb Foundation documentation):
$small-range: (0em, 40em); /* 0, 640px */
$medium-range: (40.063em, 64em); /* 641px, 1024px */
$large-range: (64.063em, 90em); /* 1025px, 1440px */
$xlarge-range: (90.063em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120.063em); /* 1921px */
/*
Mixin for Media Queries ("breakpoints").
Based on this: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
*/
@mixin breakpoint($point) {
	@if $point == xxlarge-range {
		@media (min-width: 120em) { @content; }
	}
	@else if $point == xlarge-range {
		@media (max-width: 120em) { @content; }
	}
	@else if $point == large-range {
		@media (max-width: 90em) { @content; }
	}
	@else if $point == medium-range {
        @media (max-width: 60em)  { @content; }
        // * This is to match Foundation's medium range:
        @media (max-width: 1023px)  { @content; }
	}
	@else if $point == small-range {
		@media (max-width: 40em)  { @content; }
	}
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
* {
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    background-color: lighten($gray, 5%);

/*
    background-color: $gray;
    background-color: #f1f1e6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='%23f5f5e9' d='M0 504 0 899 1600 899 1600 120z'/%3E%3Cpath fill='%23f7f7ec' d='M1600 567 1600 899 0 899 0 165z'/%3E%3Cpath fill='%23fafaef' d='M0 680 0 899 1600 899 1600 300z'/%3E%3Cpath fill='%23fcfcf1' d='M1600 719 1600 899 0 899 0 353z'/%3E%3Cpath fill='%23fafaee' d='M0 788 0 899 1600 899 1600 625z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
*/

    background-color: #f7f7f7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='%23fcfcfc' d='M0 504 0 899 1600 899 1600 120z'/%3E%3Cpath fill='%23f7f7f7' d='M1600 567 1600 899 0 899 0 165z'/%3E%3Cpath fill='%23f5f5f5' d='M0 680 0 899 1600 899 1600 300z'/%3E%3Cpath fill='%23f2f2f2' d='M1600 719 1600 899 0 899 0 353z'/%3E%3Cpath fill='%23f5f5f5' d='M0 788 0 899 1600 899 1600 625z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;

}
body, p, span{
    color: $text-color;
    font-size: 18px;
    line-height: 1.5;
        line-height: 1.7;
    font-family: $font-body;
    font-weight: 300;
    @include breakpoint(small-range) { font-size: 1rem; }
}
header.grid-x{
    margin-top: 0;
}
.header{
    .social{
        align-items: center;
        margin-top: 0px;
        &__item{
            border: 0;
            font-size: 1.5rem;
            margin: 7px 5px 0;
            padding: 0 2px;
            i{
                //color: $green !important;
            }
            &:hover{
                @include default-transition();
                background: transparent;
                box-shadow: none;
                //color: $green;
                i {
                @include default-transition();
                color: $green;
                }
            }
            i{
                color: $dark-blue;
            }
        }
        &.menu{
            li{
                border: 0;
            }
        }
    }
}
h1, h2, h3, h4, h5, h6{
    color: $heading-color;
    font-family: $font-heading;
    font-weight: 400;
    letter-spacing: -1px;
    //font-size: 46px;
    line-height: 1.2;
}

@media screen and (max-width: 1320px) {
    #primary,
    .menu--secondary__menu,
    .off-canvas-content .menu.social,
    .search {
      display: none;
    }
    .off-canvas .menu--secondary__menu{
        display: block;
        margin-top: 10px;
    }
    .off-canvas .menu__item{
        border: 0;
        padding: 0;
    }
    .off-canvas .menu__link{
        font-size: inherit;
        margin: 5px;
        padding: 0.7rem;
    }
    .off-canvas .social a{
        font-size: 2rem;
    }
    .tagline__h1{
        margin: 1rem;
    }
    #hamburger-icon{
        display: block !important;
    }
  }
  @media screen and (min-width: 1320px) {
    #hamburger-icon{
        display: none !important;
    }
  }

.tagline{
        // * Make the tagline drop below the logo and secondary nav on smaller screens:
        order: 0;
        @include breakpoint(small-range){order: 1; }
        &__h1{
            color: $heading-color;
            font-family: $font-heading;
            font-weight: 700;
            letter-spacing: -1px;
            font-size: 25px;
            text-align: center;
            // // background: transparent url('/dist/images/glow.png') no-repeat center center;
            // // min-height: 250px;
            padding-top: 1rem;
            margin: 3rem 0;
            // * The following three Flexbox lines make the tagline break after the comma:
            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint(large-range){font-size: 20px;}
            @include breakpoint(medium-range){font-size: 18px; margin: 0;}
            @include breakpoint(small-range){font-size: 1rem; padding: 0; margin: 1.5rem 0 0; }
        }
        &__span{
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
}
h2,
h3{
    color: rgba($dark-blue, 0.7);
    font-size: 40px;
    margin: 0rem auto 1rem;
    @include breakpoint(large-range) { font-size: 30px; }
}
h3{
    font-size: 30px;
    letter-spacing: 0;
    @include breakpoint(large-range) { font-size: 25px; }
}
h4{
    font-size: 20px;
    letter-spacing: normal;
}
a{
    @include default-transition;
    border-bottom: 2px solid $green;
    color: $green;
    //padding: 0 5px;
    &:visited{
        color: $green;
    }
    &:hover{
        background: $green;
        //border-radius: 100rem;
        color: white;
    }
    &:not(.btn){
        border-bottom: 1px solid $green;
    }
}

.grid-x{
    margin-top: 2rem;
    &.no-top-margin{
        margin-top: 0;
    }
}
.has-extra-vertical-space{
    //margin-bottom: 7rem;
    margin-top: 7rem;
    @include breakpoint(small-range) { margin-top: 2rem;  }
}
.tabs,
.tabs-content{
    border: 0;
}
.hero{
    background: transparent url('/dist/images/yanapi-senaud-416132-unsplash.jpg') no-repeat center center;
    background: transparent url('/dist/images/girl-with-flower.jpg') no-repeat center center;
    //background: transparent url('/dist/images/arleen-wiese-457173-unsplash.jpg') no-repeat center center;
    //background: transparent url('/dist/images/danielle-macinnes-51591-unsplash.jpg') no-repeat center center;
    //background: transparent url('/dist/images/mi-pham-223464-unsplash.jpg') no-repeat center center;
    background-size: cover;
    border-radius: $default-radius $large-radius $large-radius $default-radius;
    display: flex;
    //flex-direction: column;
    align-items: flex-end;
    margin: 0 0 1rem;
    height: 650px;
    padding: 1rem;
    //overflow: hidden;
    position: relative;
    @include breakpoint(large-range){ border-radius: $medium-radius; }
    @include breakpoint(medium-range){ border-radius: $medium-radius; height: auto; padding: 1rem; }
    @include breakpoint(small-range){ border-radius: $default-radius; height: auto; padding: 1rem; }
   &__curve{
        background: transparent url('/dist/images/hero-curve.png') no-repeat center center;
        background-size: cover;
        height: 100%;
        left: -71px;
        position: absolute;
        top: 0px;
        width: 265px;
        @include breakpoint(large-range){ display: none;}
        @include breakpoint(medium-range){ display: block; }
        @include breakpoint(small-range){ display: none; }
    }
    &__heading{
        @extend h2;
        @include default-text-shadow($green);
        color: #fff;
        font-size: 50px;
        font-weight: 800;
        padding-right: 1rem;
        text-align: center;
        @include breakpoint(large-range) { font-size: 40px; padding: 0rem; }
        @include breakpoint(medium-range) { font-size: 30px; font-weight: 600; }
        @include breakpoint(small-range){ font-size: 25px; font-weight: 100; }
    }
    &__link{
        border: 0 !important;
        color: #fff !important;
        &:hover{
            //background: $cream;
        }
    }
    &__copy{
        //background: rgba(#000, .5);
        background: rgba(0, 0, 0, 0.3);
            background: rgba($dark-blue, 0.5);
        border-radius: $default-radius $default-radius $large-radius $default-radius;
        padding: 1rem;
        @include breakpoint(large-range) { border-radius: $default-radius $default-radius $medium-radius $default-radius; padding: 0.5rem 1rem; }
        @include breakpoint(medium-range){ border-radius: $default-radius $default-radius $medium-radius $default-radius; }
        @include breakpoint(small-range){ border-radius: $default-radius;  }
    }
    &__paragraph{
        color: white;
        @include breakpoint(large-range) { line-height: 1.4; }
        @include breakpoint(small-range){ font-size: 16px; }
    }
}
.panel{
    background-color: white;
    //border-top: 10px solid lighten($light-blue, 15%);
    border-radius: $default-radius;
    box-shadow: 0px 2px 10px #ddd;
    padding: 2.5rem;
    //margin: 1rem 0;
    @include breakpoint(medium-range){ padding: 1rem 0rem; }
    @include breakpoint(small-range){ padding: 1rem 0rem; }
    &--no-gutters{
        padding: 0;
        margin: 0;
    }
    &__item{
        &--has-bg-image{
            align-items: flex-end;
            background: transparent url('/dist/images/girl-with-flower.jpg') no-repeat center bottom;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 700px;
            .panel__heading{
                @extend h1;
                @include default-text-shadow($green);
                margin: 2rem 1rem;
                color: white;
            }
        }
    }
    &__paragraph{
        color: white;
    }
    &__heading{
        align-self: flex-start;
        max-width: 100%;
        padding: 50px;
        text-align: center;
        }
    &__copy{
        //background: rgba(#000, .5);
        align-self: flex-end;
        border-radius: 3px;
        margin: 1rem 0;
        padding: 1rem 5rem;
        text-align: center;
        width: 100%;
    }
}
.pillars{
    &__intro{
        //border-bottom: 1px solid $light-blue;
        margin: 5rem 0 5rem;
        @include breakpoint(small-range) { margin: 0; }
    }
    &__heading {
        display: table;
        white-space: nowrap;
        &:before, &:after {
          border-top: 5px solid rgba($light-blue, 0.15);
          content: '';
          display: table-cell;
          position: relative;
          top: 0.6em;
          width: 43.5%;
        }
        &:before { right: 1.5%; }
        &:after { left: 1.5%; }
    }
}
.pillar{
    @include default-transition();
    display: block;
    position: relative;
    &__image-container{
        @include default-transition();
        background: #fff;
        border-top: 5px solid $gray !important;
        border-top: 5px solid rgba($light-blue, 0.3) !important;
        border-radius: 100rem;
        padding: 25px;
        position: absolute;
        left: 0;
        right: 0;
        top: -70px;
        margin: 0 auto;
        width: 148px;
        @include breakpoint(large-range) { padding: 20px; top: -60px; width: 120px; }
        @include breakpoint(small-range){ width: 75px; padding: 15px; top: -30px; }
    }
    &__img{ // * Circle icons at the top of each pillar
        //border-top: 5px solid $gray;
        display: block;
        margin: 0 auto;

        //margin: -110px auto 20px;
        //padding: 20px;
        //width: 150px;
    }
    &--public-policy,
    &--knowledge-translation,
    &--clinical-care{
        border: 5px solid $gray !important;
            border: 5px solid rgba($light-blue, 0.2) !important;
        border-radius: $default-radius;
        box-shadow: none;
        display: block;
        margin-top: 2rem;
        padding-top: 100px;
        text-align: center;
        @include breakpoint(large-range) { padding: 75px 30px 20px; }
        @include breakpoint(small-range){ padding: 3rem 1rem 1rem; }
        p{
            //font-size: 1rem;
            //line-height: 1.5;
            text-align: justify;
            @include breakpoint(large-range) { line-height: 1.5; text-align: left; font-size: 1.1rem; }
            @include breakpoint(small-range){ font-size: 1rem; }
        }
    }
    &__heading{
        //color: $green;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        @include breakpoint(small-range){ font-size: 1.2rem; margin-bottom: 1rem;}
    }
    &:hover{
        @include default-transition();
        border: 5px solid $green !important;
        box-shadow: 0px 10px 40px #bbb;
        background: rgba($cream, 0.5);
            background: #fdfae9;
        margin-top: 1.5rem;
        @include breakpoint(medium-range){ margin-top: 2rem; z-index: 1;}
        .pillar__image-container{
            @include default-transition();
            background: #fdfae9;
            border-top: 5px solid $green !important;
            //border-top: 5px rgba($green, 0.3);
            //padding: 20px;
        }
    }
    &:active{
        transform: scale(.99);
        //margin-top: 0rem;
    }
}

.has-meta{
    list-style-type: none;
    margin: 0;
    &__meta{
        display: block;
        line-height: 1;
    }
    &__item{
        border-bottom: 2px solid rgba($gray, 1);
        border-top: 2px solid #fff;
        //margin: 0.5rem 0;
        padding: 0.5rem 0;
        &:last-child{
            border-bottom: 0;
        }
        &:first-child{
            border-top: 0;
        }
        i{
            color: $light-blue;
            margin-right: 5px;
        }
    }
    &__date{
        color: $light-blue;
        display: block;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        &:after{
            //color: darken($gray, 15%);
            //padding-left: 5px;
            //content: " | ";
        }
    }
    &__category{
        color: rgba($green, .7) !important;
            color: $light-blue !important;
        //background: $cream;
        border: 0 !important;
        border-radius: $default-radius;
        //color: $dark-blue;
        font-size: 0.85rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 3px 5px;
    }
}
.nrp{
    &__content-container{
        display: flex;
        align-items: center;
    }
    &__content{
        background: transparent url('/dist/images/picsea-357040-unsplash.jpg') no-repeat bottom center;
        background-size: cover;
        margin: 0;
        padding: 0rem;
        display: flex;
        align-items: center;
        @include breakpoint(small-range) {
            background: $light-blue url('/dist/images/picsea-357040-unsplash.jpg') no-repeat center center;
            background-size: cover;
        }
        @include breakpoint(xlarge-range) { padding: 3rem 5rem; }
        @include breakpoint(large-range) { padding: 0rem 3rem; }
    }
    &__img{
        background: $light-blue url('/dist/images/picsea-357040-unsplash.jpg') no-repeat center center;
        background-size: cover;
        height: 800px;

        background:
        linear-gradient(
          rgba($cream, 0.3),
          rgba($light-blue, 0.3)
        ),
        /* bottom, image */
        url(/dist/images/picsea-357040-unsplash.jpg);

        background-size: cover;
        background-position: center;
    }
    &__copy{
        p{
            color: $text-color;
        }
        a{
            //@include special-link-style($dark-blue);
        }
        .nrp__logo{
            border: 0;
            display: block;
            margin: 0 0 1rem;
            text-align: center;
            &:hover{
                background: transparent;
            }
            img{
                margin: 1rem auto;
                width: 300px;
                @include breakpoint(large-range) { width: 200px; }
            }
        }
    }
}
.btn{
    @include default-transition;
    @include btn($green);
    border-bottom: 0;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin: 5px 0 0;
    padding: 1rem 2rem;
    text-shadow: 0 1px 1px darken($green, 5%);
    text-transform: uppercase;
    //text-shadow: 0 -2px 1px darken($green, 10%);
    white-space: nowrap;
    &:visited{
        color: white;
    }
    &:hover{
        box-shadow: 0px 3px 20px rgba(#000, 0.5);
        background-color: darken($green, 5%);
        //border-bottom: 2px solid darken($green, 10%);
        //border-top: 2px solid darken($green, 5%);
        color: white;
    }
    &--green{
        @include btn($green);
    }
    &--light-blue{
        @include btn($light-blue);
    }
    &--dark-blue{
        @include btn($dark-blue);
    }
}
.header__btn{
    background: $green;
    border: 0;
    font-size: 0.8rem !important;
    padding: 0.8rem !important;
    &:hover{
        border: 0;
    }
}
.palette{
    text-align: center;
}
.palette__swatches{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.swatch{
    //border-radius: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0%;
    &__name{
        background: white;
        width: 100%;
        margin-top: auto;
    }
}
.dark-blue{
    background: $dark-blue;
}
.light-blue{
    background: $light-blue;
}
.lighter-blue{
    background: lighten($light-blue, 10%);
}
.lightest-blue{
    background: lighten($light-blue, 20%);
}
.gray{
    background: $gray;
}
.green{
    background: $green;
}
.cream{
    background: $cream;
}

.menu{
         //background: $gray;
    font-weight: 600;
    margin: 0.5rem 0 0;
    justify-content: center;
    li{
        border-right: 1px solid rgba($dark-blue, .1);
        padding: 5px;
        //margin: 0 0 0 0.5rem;
        &:last-child{
            border: 0;
        }
        a{
            background: $gray;
            color: $dark-blue;
                //color: $green;
            border-bottom: 0px solid white;
            border-radius: $default-radius;
            font-size: 1.1rem;
            margin: 0 2px;
            //padding: 1rem 0;

            &:hover{
                background: $green;
                color: white;
                box-shadow: 0px 5px 20px rgba(#000, 0.3);
            }
        }
    }
}
.off-canvas{
    background: $gray;
    padding: 10px;
}

.js-off-canvas-overlay{
background: rgba(254,254,254,0.75);
}


// * Override Foundation accordion component styles here:
.accordion{
    background: transparent;
    margin-top: 1rem;
    &-title{
        //background: $dark-blue;
        //color: $gray !important;
        border: 0;
        border-bottom: 1px solid darken($gray, 10%) !important;
        font-weight: 600;
        padding: 15px 10px;
        font-size: inherit;
        &:hover,
        &:focus{
            background: $green;
            color: #fff;
        }
    }
    &-content{
        padding: 0;
    }
    &__list{
        background: lighten($gray, 7%);
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__link{
        border-bottom: 1px solid darken($gray, 10%) !important;
        color: $green;
        display: block;
        line-height: 1.2;
        margin: 3px 5px;
        padding: 10px;
        &:visited{
            color: $green;
        }
        &:hover,
        &:focus{
            background: rgba($green, 0.8);
            color: #fff;
        }
    }
}


// * Start hamburger icon styles
#hamburger-icon {
    width: 35px;
    height: 45px;
    position: relative;
    margin: 20px 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #hamburger-icon span{
    display: block;
    position: absolute;
    height: 5.5px;
    width: 100%;
    background: $dark-blue;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  /* Icon 3 */

  #hamburger-icon span:nth-child(1) {
    top: 0px;
  }

  #hamburger-icon span:nth-child(2),#hamburger-icon span:nth-child(3) {
    top: 10px;
  }

  #hamburger-icon span:nth-child(4) {
    top: 20px;
  }

  #hamburger-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #hamburger-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hamburger-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  // * End hamburger icon


.is-dropdown-submenu{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    background: transparent;
    border: 0;
    border-radius: $default-radius;
    min-width: 300px;
    margin: 0px 0 0 6px;
    overflow: hidden;
    li{
        padding: 0 0px;
        a{
            border-bottom: 1px solid darken($gray, 10%);
            border-radius: 0;
            line-height: 1.1;
            margin: 0;
        }
        &:last-child{
            border: 0 !important;
        }
    }
}

.dropdown.menu>li.is-dropdown-submenu-parent>a{
    padding-right: 1rem;
    &::after{
        display: none;
    }
}

.dropdown.menu .is-active>a{
    background: $green;
    color: $gray;
}
.menu-trigger{
    display: none;
    @include breakpoint(medium-range) { display: inline-block; }
}
.panel__img{
    //background: $cream;
    border-bottom: 2px solid $light-blue;
    border-top: 2px solid $light-blue;
    margin: 0 0 1rem;
    padding: 2px 0;
}
.meta{
    color: rgba($dark-blue, 0.7);
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -10px;
}
.cps-logo{
    background: transparent;
    border: 0 !important;
    display: block;
    margin-top: 1rem;
    width: 170px;
    @include breakpoint(medium-range){ width: 120px; }
    @include breakpoint(small-range){ width: 75px; }
    &:hover{
        background: transparent;
    }
}
.menu--secondary{
    justify-content: flex-end;
    margin-top: -5px;
    &__menu{
        margin: 0;
    }
    .menu__item{
        padding: 0;
    }
    .menu__link{
        border-radius: 0 0 $default-radius $default-radius;
        font-size: 0.8rem;
        //font-weight: 100;
        //letter-spacing: 1px;
    }
}

.search {
    margin: 1rem 0 0;
    .input-group-field {
        border-radius: $default-radius 0 0 $default-radius;
        padding-left: 1rem;
    }
    .input-group-button .button {
        background: $green;
        border-radius:  0 $default-radius $default-radius 0;
        font-size: 0.8rem;
        &:hover{
            background: darken($green, 5%);
        }
    }
}
.search__btn{
    font-size: 0.8rem !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.light-blue-bg{
    background: $light-blue;
}
.color-column{
    &__item{
        height: 100%;
        float: right;
        width: 5%;
        &--right{
            height: 100%;
            float: right;
            width: 5%;
            float: left;
        }
    }
}
.news-container{
    //background: lighten($light-blue, 10%);
    //box-shadow: inset 0 3px 3px #bbb;
    //padding: 2rem 0;
    //height: 500px;
}
.secondary-hero{
    align-items: center;
    background:
        linear-gradient(to bottom right, rgba($cream, .0), rgba($dark-blue, .50)),
        url('/dist/images/yanapi-senaud-416132-unsplash.jpg') no-repeat left center;
    //background: transparent url('/dist/images/girl-with-flower.jpg') no-repeat center center;
    //background: transparent url('/dist/images/arleen-wiese-457173-unsplash.jpg') no-repeat center center;
    //background: transparent url('/dist/images/danielle-macinnes-51591-unsplash.jpg') no-repeat center center;
    //background: transparent url('/dist/images/mi-pham-223464-unsplash.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    height: 600px;
    justify-content: center;
    //border-top: 5px solid rgba($dark-blue, 0.1);
    //border-bottom: 5px solid rgba($dark-blue, 0.1);
    @include breakpoint(medium-range){ height: auto; }
    @include breakpoint(small-range){ margin: 5rem 0; }
    &__copy{

    }
    &__h3{
        @include default-text-shadow($dark-blue);
        color: $cream;
        font-size: 50px;
        font-weight: 800;
        @include breakpoint(large-range){ font-size: 40px; }
        @include breakpoint(medium-range){ font-size: 30px; font-weight: 600; }
        @include breakpoint(small-range){ font-size: 25px; font-weight: 100; }
    }
    &__link{
        color: $cream !important;
        border: 0 !important;
        &:hover{
            background: $light-blue;
        }
    }
    &__span{
        //border-bottom: 1px solid rgba($light-blue, 0.3);
        color: rgba($light-blue, 1);
        display: block;
        font-size: 0.8rem;
        letter-spacing: 3px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-shadow: none;
        display: table;
        white-space: nowrap;
        @include breakpoint(medium-range) { color: $gray; }
        &:before, &:after {
          border-top: 5px solid rgba($light-blue, 0.3);
          content: '';
          display: table-cell;
          position: relative;
          top: 0.55em;
          width: 35.2%;
          @include breakpoint(medium-range) { border-top: 5px solid rgba($gray, 0.3); }
        }
        &:before { right: 1.5%; }
        &:after { left: 1.5%; }
    }
    &__paragraph{
        color: $gray;
        @include breakpoint(large-range){ line-height: 1.4; }
        @include breakpoint(small-range){ font-size: 1rem; }
    }
    &__img{

    }
}
.has-light-bg *{
    // * Apply this class if the element needs dark text on a light-coloured background image. Without this class, the default CSS rules take precedence, which assume that the background image is dark and the text is light. Used for hero sections.
    color: rgba($dark-blue, 1);
    text-shadow: none;
    &:before, &:after {
        border-top: 5px solid rgba($dark-blue, 0.3);
    }
    .hero__copy{
        background: rgba($cream, 0.7);
    }
    p{
        color: $text-color;
    }
    a{
        color: rgba($dark-blue, 1) !important;
    }
    .btn,
    .btn *{
        background: $dark-blue;
        color: $gray !important;
    }
}

.journal{
    //max-height: 90%;
    @include breakpoint(medium-range) { margin: 2rem 0 ; }
    &__img-link{
        @include default-transition();
        border: 0 !important;
        box-shadow: 0px 1px 4px #aaa;
        display: block;
        margin-top: -35px;
        transform: rotate(-4deg) scale(1); /* Firefox 16+, IE 10+, Opera */
        @include breakpoint(medium-range){ width: 200px; margin: -20px auto 0; margin-left: -32px;}
        @include breakpoint(small-range){ width: 250px; margin: -20px auto 0;  }
        &:hover{
            box-shadow: 0px 10px 40px #aaa;
            transform: rotate(0deg) scale(1.07); /* Firefox 16+, IE 10+, Opera */
        }
    }
    &__img{

    }
    &__h3{
        color: $light-blue;
        font-size: 40px;
        font-weight: 100;
        @include breakpoint(medium-range){ font-size: 25px; font-weight: 100; }
        @include breakpoint(small-range){ font-size: 25px; font-weight: 100; }
    }
    &__link{
        //color: $green !important;
        color: rgba($dark-blue, 0.7) !important;
        border: 0 !important;
        font-weight: 800;
        @include breakpoint(small-range){ font-weight: 100; }
        &:hover{
            background: $light-blue;
        }
    }
    &__copy{
        @include breakpoint(medium-range){ margin-top: 1rem; }
        @include breakpoint(small-range){ margin-top: 2rem; }
    }
    &__span{
        color: rgba($light-blue, 1);
        display: block;
        font-size: 0.7rem;
        letter-spacing: 3px;
        margin-bottom: 30px;
        text-transform: uppercase;
        text-shadow: none;
        display: table;
        white-space: nowrap;
        &:before, &:after {
          border-top: 5px solid rgba($light-blue, 0.3);
          content: '';
          display: table-cell;
          position: relative;
          top: 0.6em;
          width: 50%;
        }
        &:before { right: 1.5%; }
        &:after { left: 1.5%; }
    }
    &__list-item{
        margin: 1rem 0;
        i{
            color: $light-blue;
            margin-right: 5px;
        }
    }
}
.footer{
    font-size: 0.9rem;
    padding: 1rem 0;
    margin-top: 7rem;
    text-align: center;
    background-color: #003478;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%2300367d' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%2300367d' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%2300367c' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%2300367c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%2300357c' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%2300357b' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%2300357b' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%2300357b' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%2300357a' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%2300357a' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%2300357a' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%2300357a' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23003479' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23003479' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23003479' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23003478' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23003478' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    &__h3{
        color: $light-blue;
    }
    &__copy{
        p{
            color: white;
            font-size: 0.9rem;
        }
        a{
            color: lighten($green, 15%);
        }
    }
    &__contact{
        text-align: left;
        p{
            color: white;
            font-size: inherit;
            text-align: left;
        }
        span{
            color: white;
            display: inline-block;
            font-size: inherit;
            width: 100px;
            @include breakpoint(large-range){ display: block; margin-top: 10px;}
            @include breakpoint(small-range){ display: inline-block; margin-top: 0;}
        }
    }
    .footer__address{

    }
    .footer__honcode{
        @include breakpoint(small-range){ margin: 2rem 0; }
    }
    &__social{
        text-align: left;
        a{
            border: 0;
            color: $light-blue;
            display: inline-block;
            &:hover{
                background: transparent;
                color: $green;
            }
        }
        font-size: 3rem;
    }
    &__copyright{
        margin-top: 2rem;
    }
    &__heading{
        color: $light-blue;
    }
}
.footer__h3{
    text-align: center;
}
.next-to-hero{
    @include breakpoint(large-range) { font-size: 1rem; }
    @include breakpoint(medium-range) { font-size: inherit; margin-top: 2rem;}
    @include breakpoint(small-range) { font-size: 1rem; }
    &__h2{
        @include breakpoint(large-range) { font-size: 1.5rem; }
        @include breakpoint(medium-range) { font-size: 2rem; }
    }
}
.events{
    @include breakpoint(small-range){ margin-top: 1rem; }
    &__item{
        overflow: hidden;
    }
    &__meta{
        margin: 0;
    }
    &__img{
    }
    &__img-link{
        @include img-effect();
        float: left;
        margin: 7px 24px 16px 0;
        overflow: hidden;
        width: 120px;
    }
    &__copy{

    }
    &__paragraph{
        font-size: 1rem;
        line-height: 1.4;
    }
}
.tabs-content{
    @extend .panel;
    border-radius: 0 0 $default-radius $default-radius;
    margin-bottom: 2rem;
}
// This rule doesn't use the BEM syntax because I'm tageting Foundation's tabs to override their default styles:
.tabs{
    background: transparent;
    &-title{
        background: transparent;
        text-align: center;
        width: 50% !important;
        border-radius: $default-radius $default-radius 0 0;
        a{
            background: transparent;
            border: 0;
            color: rgba($heading-color, .7);
            color: rgba($dark-blue, 0.4);
            font-family: $font-heading;
            font-size: 1rem;
                font-size: 40px;
            outline: none;
            &:hover{
                background: transparent;
            }
            &:active{
                background: inherit;
            }
        }
        &.is-active{
            a{
                background: white;
                border-radius: $default-radius $default-radius 0 0;
                box-shadow: 0px -3px 5px #eee;
                color: rgba($dark-blue, 0.7);
            }

        }
    }
}
.position-statements{
    &__browse{
        margin: 2rem 0;
        h3{
            margin: 0;
        }
    }
}
.join-us{
    margin-top: 2rem;
    position: relative;
    &__h2{
        @include breakpoint(large-range) { font-size: 1.5rem; }
        @include breakpoint(medium-range) { font-size: 2rem; }
    }
    p{
        @include breakpoint(large-range) { font-size: 1rem; line-height: 1.4;}
        @include breakpoint(medium-range) { font-size: inherit; line-height: inherit;}
    }
}
// Either/Or button group (https://foundation.zurb.com/building-blocks/blocks/button-group-option.html):
$button-group-option-font-size: 1rem; // controls size of circle and text of option
$button-group-option-button-gap: 0.35rem;
$button-group-option-button-fontsize: 1rem; // controls size of button and text of button

.button-group-option {
  position: relative;
  align-items: center;
  width: 100%;
  @include button-group;
  @include button-group-expand('.button');

  .button{
    font-size: $button-group-option-button-fontsize;
    background: $green;
    border: 0;
    &:hover{
        background: darken($green, 5%);
    }
  }

  &:before {
    content: attr(data-grouptype);
    z-index: 1;
    color: $text-color;
    display: inline-block;
    font-family: $font-heading;
    font-size: $button-group-option-font-size;
    //font-style: italic;
    padding: 3px 7px;
    border-radius: 5000px;
    background: $white;
    @include absolute-center;
  }

  .button + .button {
    margin-left: $button-group-option-button-gap;
  }
}

.member-login{
    display: none;
    font-family: $font-body;
    margin-top: -1rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    @include breakpoint(medium-range) { width: 100%; }
    @include breakpoint(small-range) { position: relative; }
    &__label{
        font-size: 1rem;
    }
    &__forgot{
        font-size: 0.85rem;
    }
}