/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Import dependencies.

Most SASS files in this project are being called from inside gulpfile.js, but I can't get foundation.scss to work that way so I'm importing it here. This is because foundation.scss imports *its own* set of files from inside node_modules/foundation-sites. That breaks when done through gulpfile.js.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
@import "../../node_modules/foundation-sites/scss/foundation.scss";
/* If I want to override any of Foundation's variables, I do so inside my own copy of _settings.scss. This also requires linking to it in node_modules/foundation-sites/scss/foundation.scss (see line 24). */

@include foundation-everything;

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
* {
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    // * Don't let the background video play on small devices:
    @include breakpoint (800px down){ background: url(../backer.png) #000 no-repeat center center fixed; }
}
.wow { visibility: hidden; }
h1{
    color: #fff;
    font-size: 6rem;
    font-family: $font-heading;
        font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    letter-spacing: 10px;
    span{
        font-size: 8rem;
    }
}

// * Start background video styles (there's also a rule on the body tag above):
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('backer.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  @include breakpoint(800px down){ display: none; }
}
// * When the background video finishes playing, it pauses. This controls the opacity of the video at that point:
.stopfade {
   //opacity: .5;
}
// * End background video styles.

